#startButton {
    float: right;
}

section {
    font-weight: bold;
    color: rgb(58, 58, 58);
    }
li {
    background-color: lightskyblue;
}

.winner {
    padding: 20px;
    text-align: center;
}
.score {
    padding: 20px;
    text-align: center;
    font-size: large;
}

#submit {
    text-align: center;
}

#highScore {
    text-align: center;
}